@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  background-color: rgb(243, 251, 252);
  margin: 100px 0 0 0px;
}
#chead {
  display: flex;
  align-items: center;
  position: fixed;
  height: 80px;
  width: 100%;
  margin-top: -100px;
  background-color: white;
  box-shadow: black 0px 0.1px 2px;
}

.logo {
  cursor: pointer;
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 900;
  background-image: -webkit-linear-gradient(181deg, #0048ff, #0096ff),
    -webkit-linear-gradient(#000, #000);
  background-image: -o-linear-gradient(181deg, #0048ff, #0096ff),
    -o-linear-gradient(#000, #000);
  background-image: linear-gradient(269deg, #0048ff, #0096ff),
    linear-gradient(#000, #000);
  color: #0084ff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.9px;
  line-height: 1.08;
  width: 100%;
  height: 100%;

  font-family: Raleway, sans-serif;

  font-style: normal;
  font-stretch: normal;

  text-align: left;
}

.stories {
  cursor: pointer;
  margin-top: 0px;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 500;
  color: black;
  font-style: italic;
  line-height: 0.8;
  letter-spacing: 0.9px;
}
#head {
  margin-left: 5%;
}

#head,
.logo,
.explore,
.a {
  display: inline-block;
}
#explore {
  cursor: pointer;
  display: flex;
  font-family: Raleway, sans-serif;

  width: 200px;
  margin-left: 4%;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.79px;
}
#drop-down-icon {
  display: block;
  margin-left: 8px;
  cursor: pointer;
}
.a {
  cursor: pointer;
  min-width: 23em;
  opacity: 0.6;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1;
  margin-left: 29em;
  margin-right: 5px;
}
#go-to-main {
  cursor: pointer;
  letter-spacing: 0.36px;
  border-radius: 25px;
  padding: 13px 25px;
  background-image: linear-gradient(269deg, #0048ff, #0096ff),
    linear-gradient(#000, #000);
  color: white;
  font-weight: 600;
}
.b {
  width: auto;
  font-size: 0.75em;
  background-color: #007aff;
  min-width: 136px;
  height: 42px;
  border-radius: 25px;
  width: auto;
  font-weight: 600;
  color: white;
  padding: 0px 20px;
  border-color: white;
  margin-left: 40;
  font-family: Raleway, sans-serif;
  height: auto;
  box-shadow: none;
  margin-top: 0px;
  display: inline;
  letter-spacing: 0.9px;
}
#body {
  width: 67%;
  margin: auto;
}

.trending {
  font-family: Raleway, sans-serif;

  margin: 0;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.94;
  text-shadow: black 0.2px 0.2px 0.2px;
  margin-top: 0px;
  display: block;
}
.filter {
  cursor: pointer;
  font-family: raleway;
  font-size: 15px;
}
.card {
  cursor: pointer;
  display: flex;
  margin-right: 20px;
}
.cardtype {
  cursor: pointer;
  height: 400px;
  width: 400px;
  background: none;
  margin: 10px 12px;
  font-family: raleway;
  border: 3px black;
  background: white;
  box-sizing: unset;
  -webkit-box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 5px;
  border: 1px solid rgba(0, 168, 255, 0.3);
}
#button1 {
  margin-left: 7px;
  cursor: pointer;
}
button {
  margin: 3px;
  cursor: pointer;
  padding: 7px 12px 7px 12px;
  border-radius: 20px;
  border-color: #007aff;
  color: #007aff;
  text-shadow: #007aff;
  font-family: raleway;
  background-color: white;
  border-width: 1px;
  font-size: 12px;
}
button:hover {
  background-image: linear-gradient(269deg, #0048ff, #0096ff),
    linear-gradient(#000, #000);
  color: white;
}
.first-all {
  background-image: linear-gradient(269deg, #0048ff, #0096ff),
    linear-gradient(#000, #000);
  color: white;
}
.image {
  width: 100%;
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.texttop {
  font-size: 20px;
  margin-left: 25px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 9px;
}
.textm {
  margin-left: 25px;
  color: #007aff;
}
.content {
  margin-left: 25px;
  height: 50px;
  color: greywh;
  margin-right: 15px;
  color: grey;
  font-size: 16px;
}

footer {
    margin-top: 30px;
  background-color: #172146;
  display: block;
  padding: 80px 16%;
  font-family: "Roboto", sans-serif;
}
#footer-section {
  display: flex;
  justify-content: space-between;
}
.foot-div {

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  text-align: left;
}
.foot-div h3 {
  font-size:15.2px;
  color: rgba(255, 255, 255, 0.5);
}
.foot-div span {
  color: white;
  font-size: 13px;
  font-weight: 300;
  margin: 5px 0;
  letter-spacing: 0.3px;
}
